@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins";

  --color-normal : #D3A376;
  --color-bg: #3E2522;
  /* --color-btns: #507D82; */
  /* --color-bg: #0B2E32; */
    /* custom breakpoint */
    --breakpoint-xs: 350px;
}

@layer utilities {
  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 64px;
  }

  @media (max-width: 995px) {
    .container {
      padding: 16px 32px;
    }
  }

  @media (max-width: 576px) {
    .container {
      padding: 12px 20px;
    }
  }
}


body {
  font-family: "Inter", sans-serif;
}



/* Diagonal logo section effect */


/* Decorative blue triangle after logo */
.clip-triangle {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 25s linear infinite;
  width: max-content;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}


/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



